body{
    line-height:50px;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
}
hr{
    width: 400px;
}
.box{
    margin: auto;
    background-color: whitesmoke;
    width: 65%;
}
input.radiobutton{
    display: none;
}
.questionbox{
    font-weight:bold;
    display: flex;
    justify-content: center;
}
.answerbox{
    display: flex;
    color: whitesmoke;
    flex-direction: column;
    width: 240px;
    margin: 0 auto;
}
.footbutton{
    width: 320px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
.footbutton button{
    flex-basis: 140px;
    width: 100px;
    height: 40px;
    font-size: medium;
}
.answerbox label{
    display: flex;
    justify-content: center;
}
.sabox{
    background-color: green;
}
.abox{
    background-color: rgb(0, 191, 86);
}
.nubox{
    background-color: rgb(183, 183, 183);
}
.dbox{
    background-color: rgb(216, 84, 7);
}
.sdbox{
    background-color: red;
}
.answerbox label:hover{
    text-decoration: underline;
    text-decoration-color: whitesmoke;
}
.answerbox input:checked + label{
    text-decoration: none;
    border: solid rgb(255, 255, 255);
}
footer{
    margin: auto;
    font-size: small;
}